body {
    background-image: url("registeration bg3.jpg");
    background-position: center center;
    background-size: 100% 100%;
}
/* Add styles to the form container */
.container {
  position: center;
  right: 200;
  margin: 20px;
  color: white ;
  size: 20;
  max-width: 300px;
  padding: 16px;
  background-color: transparent ;
  opacity: 0.7;

}

/* Full-width input fields */
  input[type=text], input[type=password],input[type=date] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: white;
  opacity: 1;
}
/* Gender */
.containers {
  position: center;
  right: 200;
  margin: 20px;
  color: white ;
  size: 20;
  max-width: 300px;
  padding: 16px;
  background-color: transparent ;
  opacity: 1;

}
  input[type=radio] {
  width: 10%;
  padding: 15px;
  margin: 2px 0 11px 0;
  border: black;
  background: black;
  
}



input[type=text]:focus, input[type=password],input[type=date],input[type=radio]:focus {
  background-color: white;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: white;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 1;
}

.btn:hover {
  opacity: 1;
}
/* Set a style for the ERASE button */
.btns {
  background-color: white;
  color: black;
  padding: 12px 10px;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 1;
}

.btns:hover {
  opacity: 1;
}
h4{
color: white;
}
h5{
color: white;
}
